/*-------- ez/easy layout styles --------*/

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.zIndexBump {
  z-index: 5;
}

.inline {
  display: inline;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 50px;
}

.center,
.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.float-right {
  float: right;
}

.float-left {
  float: right;
}

.disableMargin {
  margin: 0 auto 0 auto;
}

.disablePadding {
  padding: 0;
}

.danger.button {
  background: #ff4242;
}

.danger.button:hover {
  background: #ff2929;
}

.noUnderline {
  text-decoration: none;
}

/*------ easy color styles ------*/

.white {
  color: white;
}

.black,
h1.black {
  color: black;
}

.whiteBackground-30 {
  background: rgba(255, 255, 255, 0.3);
}

/*------ text ------*/

h1,
h2,
h3,
h4,
h5,
h6,
.editableField.heading,
label {
  color: #354b5a;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
}

p,
.p {
  color: #6686a0;
}

.p {
  font-size: 100%;
}

.subtext {
  margin-top: 10px;
}

.subtext p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  margin-bottom: initial;
}

p.wrap {
  white-space: initial;
  overflow: initial;
  text-overflow: initial;
}

.bold {
  font-weight: 700;
}

code.parameters.inline {
  display: inherit;
  text-overflow: ellipsis;
  white-space: inherit;
  overflow: hidden;
}

h1 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 42px;
}

.italic {
  font-style: italic;
}

.white {
  color: white;
}

.lightBlue {
  color: #00adea;
}

.logoPlaceholder {
  font-size: 2.5rem;
  font-weight: 900;
}

.subtitle {
  color: #6686a0;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 66px;
  max-width: 530px;
  width: 100%;
}

/*========== button styles ==========*/

.imageActions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15%;
}

.imageActions svg:not(.noFill) {
  fill: white;
  stroke: white;
}

.imageActions svg {
  width: 90%;
  height: auto;
  vertical-align: middle;
}

.imageActions .imageActions-deleteImage {
  width: 70%;
}

.imageActions button,
.imageActions .button,
.imageActions a {
  background: #475f72;
  padding: 4px;
  border-radius: 4px;
}

.imageActions a.button {
  margin: 0;
  background: #475f72;
}

.landing__form__container {
  margin-top: -35px;
  margin-bottom: 35px;
  z-index: 5;
}

input.landing__form__group__input.input--landing {
  font-size: 39px;
  line-height: 40px;
  padding: 40px;
}

.button--inline {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.1);
}

.landing__form__group {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.group input[type="text"]:not([hidden=""]) {
  display: block;
}

input[type="url"].large:not(.demoElement),
input[type="tel"].large:not(.demoElement),
input[type="email"].large:not(.demoElement),
input[type="search"].large:not(.demoElement),
input[type="number"].large:not(.demoElement),
input[type="datetime"].large:not(.demoElement),
input[type="datetime-l.largeocal"],
input[type="date"].large:not(.demoElement),
input[type="time"].large:not(.demoElement),
input[type="week"].large:not(.demoElement),
input[type="month"].large:not(.demoElement),
input[type="text"].large:not(.demoElement) {
  background: #ffffff;
  border: 2px solid #eef0f2;
  box-sizing: border-box;
  color: #6686a0;
  display: block;
  font-size: 24px;
  padding: 16px;
  padding-top: 22px;
  padding-bottom: 18px;
}

input[type="url"]:not(placeholder-shown, .demoElement),
input[type="tel"]:not(placeholder-shown, .demoElement),
input[type="email"]:not(placeholder-shown, .demoElement),
input[type="search"]:not(placeholder-shown, .demoElement),
input[type="number"]:not(placeholder-shown, .demoElement),
input[type="datetime"]:not(placeholder-shown, .demoElement),
input[type="datetime-local"]:not(placeholder-shown, .demoElement),
input[type="date"]:not(placeholder-shown, .demoElement),
input[type="time"]:not(placeholder-shown, .demoElement),
input[type="week"]:not(placeholder-shown, .demoElement),
input[type="month"]:not(placeholder-shown, .demoElement),
input[type="text"]:not(placeholder-shown, .demoElement) {
  border-color: #00c0fa !important;
}

button.button,
.button,
.options_form button {
  background: #00c0fa;
  background-color: #00c0fa;
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  text-align: center;
  transition: background 0.4s;
}

button.display,
.button.display {
  padding-top: 26px;
  padding-bottom: 26px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

button {
  cursor: pointer;
}

.options_form button {
  font-size: 18;
  padding-top: 5px;
  padding-bottom: 5px;
}

button:disabled {
  background: #61daff;
}

.button:hover {
  background: #2ecfff;
}

.button--red {
  background: #f8510f;
}

.button--red:hover {
  background: #f97541;
}

.button--inline {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.1);
}

.button--landing {
  font-size: 30px;
  line-height: 39px;
  padding-top: 30px;
  padding-bottom: 27px;
}

input[type="url"].input--landing {
  font-size: 30px;
  line-height: 39px;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 27px;
  padding-bottom: 26px;
}

.checkbox {
  text-align: right;
}

/*========== header ==========*/

.page-header {
  background: #22303a;
  box-sizing: border-box;
  padding: 60px 0 60px 0;
}

.logo__item {
  display: inline-block;
  vertical-align: middle;
}

.logo__image__img {
  margin-right: 4px;
  height: 56px;
  width: auto;
}

.logo__powered {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.logo__powered__item {
  display: inline-block;
  vertical-align: middle;
}

.logo__powered__logo {
  box-sizing: border-box;
  height: 24px;
}

.logo__powered__logo__img {
  display: inline-block;
  height: 24px;
  padding-left: 4px;
  width: auto;
  vertical-align: bottom;
}

.fold {
  background: #22303a;
}

.pageOptions .lockedEditing.true {
  display: none;
}

.pageOptions .unlockEditing.false {
  display: none;
}

.pageOptions {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0 10px;
}

/*------ fold editableFields ------*/

.fold .title.editableField {
  color: white;
}

/*========== editableFields ==========*/

.card-info-container {
  margin-top: 10px;
}

.card-info-container button {
  width: 100%;
}

.emptyCard svg {
  width: 80%;
  height: auto;
  vertical-align: middle;
  text-align: center;
}

.emptyCard .svgContainer {
  padding: 10px;
  text-align: center;
  display: block;
  background: #e8f0f4;
  width: 100%;
  height: 250px;
}

.card-info-container .addImage {
  text-align: center;
}
/*========== page, rows & column css ==========*/

h1.section_title {
  font-family: "Roboto Slab", sans-serif;
}

.section_divider {
  background: #00c0fa;
  margin-bottom: 13px;
  height: 6px;
  width: 94px;
}

.page-width .page-width-inner {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

body.new-page .page-header .page-width-inner {
  padding-top: 44px;
  padding-bottom: 43px;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/*========== form settings ==========*/

.options_form,
.options_form .grid-x {
  width: 100%;
}

.optionsContainer {
  margin-bottom: 30px;
  border-top: 8px solid #d0d7dd;
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: rgb(208, 215, 221);
  padding-top: 24px;
}

.optionsContainer label {
  font-size: 16px;
}

.optionsContainer ul {
  margin: 0;
}

.options_header {
  font-weight: 600;
}

label {
  font-size: 1.2em;
}

/*========== imageCard ==========*/

.card {
  border: none;
}
.images-container {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
}

.fullWidth .images-container {
  grid-gap: 10px 50px;
}

.halfWidth .images-container {
  grid-gap: 10px 20px;
}

.images-container,
.images-container img,
.images-container .card {
  width: 100%;
}

/*========== demoElements ==========*/

/*------ hamburer menu ------*/

.options-hamburger {
  position: absolute;
  top: 1px;
  right: 0;
  cursor: pointer;
  fill: #354b5a;
  z-index: 1;
}

.options-hamburger:hover svg {
  fill: #2ecfff;
}

.options-menu {
  position: absolute;
  display: none;
  top: 0;
  right: 0px;
  background: #354b5a;
  color: white;
  z-index: 0;
}

.options-menu.active {
  display: initial;
}

.options-menu ul {
  list-style-type: none;
  margin-left: 0;
}
.options-menu li {
  padding: 5px 20px;
  border-top: 1px solid white;
  cursor: pointer;
}

.options-menu li:hover {
  color: #2ecfff;
}

.options-menu select {
  padding: 0;
  height: initial;
  margin: 0;
}

.options-hamburger.active {
  fill: white;
  padding: 10px;
  background: #354b5a;
}

.options-hamburger_open.active {
  display: none;
}

.options-hamburger_close {
  display: none;
}
.options-hamburger_close.active {
  display: initial;
}

/*------ inputs ------*/

input.demoElement,
textarea.demoElement {
  background: initial;
  border: initial;
  overflow: initial;
  text-overflow: initial;
  white-space: normal;
  appearance: initial;
  cursor: text;
  width: auto;
  overflow-wrap: break-word;
}

input.editableField:not([hidden=""]),
textarea.editableField:not([hidden=""]) {
  display: block;
}

input.editableField {
  background: initial;
  border: none;
}

input.editableField:hover {
  text-decoration: underline;
}

.textContentContainer [type="text"],
.textContentContainer input.editableField:focus {
  text-decoration: none;
  border: none;
  box-shadow: none;
  outline: none;
}



input.editableField {
  background: rgba(255, 255, 255, 0.05);
}

.main-content input.editableField {
  background: rgba(34, 48, 58, 0.05);
}

/*========== groups & containers ==========*/

.group.placeholder-group {
  background: #e8f0f4;
  text-align: center;
  display: flex;
  justify-content:center;
  align-items:center;
  min-height: 300px;
  cursor: pointer;
  opacity: .7
}

.placeholder-group button {
  text-align: center;
  vertical-align: middle;
}

.placeholder-group:hover {
  opacity: 1;
}

.placeholder-group .placeholder-svg {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2,1fr);
  max-width: 300px;
  min-width: 250px;
  width: 100%;
}
.container.main-content {
  width: 100%;
}

.container.main-content .page-width-inner {
 display: flex;
 flex-wrap: wrap; 
}

.group.fullWidth {
  width: 100%;
}

.group,
.group.halfWidth {
  width: 46%;
  display: inline-block;
  position: relative;
}
.group {
  margin: 0 2%;
}

.group.halfWidth .images-container {
  display: grid;
}
.group.halfWidth .images-container {
  grid-template: auto/repeat(2, 2fr);
}

.group.fullWidth .images-container {
  grid-template: auto/repeat(4, 1fr);
}

[hidden],
input[hidden] {
  display: none;
}

.group-parameters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "area1 area1 area1"
    "button1 button2 button3"
    "area2 area2 area2";
  gap: 0 15px;
}

.group-parameters .area1 {
  grid-area: area1;
}
.group-parameters .area2 {
  grid-area: area2;
}
.group-parameters .button1 {
  grid-area: button1;
}
.group-parameters .button2 {
  grid-area: button2;
}
.group-parameters .button3 {
  grid-area: button3;
}

/*========== cards ==========*/

.image-card .img-container {
  height: 250px;
  width: 100%;
  display: flex;
}
.image-card img {
  vertical-align: middle;
  object-fit: contain;
}
